[2016-07-11 09:17] gavanderhoorn opened #6 "val3_driver: create ROS wiki page"
The `README` already contains quite some information, but is not the first place most users would look to for instructions on installation and usage.

It would be good to expand the ROS wiki page for `staubli_val3_driver` to include things such as minimum version of VAL3 supported, compatible controllers, information on compatible manipulators, etc.

See [fanuc_driver](http://wiki.ros.org/fanuc_dr

[2016-08-05 10:54] gavanderhoorn opened #5 "val3_driver: add runtime check for minimal VAL3 version"
If possible, this would make sure that the VAL3 runtime version is at least `s7.7.2`, to make sure the required `sioGet(..)` functionality is present.

Better: implement some form of feature detection instead of checking for versions (would be more robust), but it's unclear whether that is possible with `sioGet(..)` and the other functions used.

[2019-07-11 14:25] simonschmeisser opened #4 "CS9 compatibility?"
We are currently discussing about having some initial experiments/trial with stäubli in about a week and the customer seems to have a tx2-60. So I'm wondering if you expect this driver to be compatible to cs9 as well? Is there anything special to watch out for?

I'll add a pr for the support package later on of course

[2019-09-02 16:33] simonschmeisser opened #3 "Strange accel override"
https://github.com/ros-industrial/staubli_val3_driver/blob/55b4fe6d3fbc60fa7a89139aa0f195c5d3c62072/staubli_val3_driver/val3/ros_server/pushMotion.pgx#L77

sets the acceleration (deceleration) to 9999 if velocity override is activated. This is motivated by a  reference to the manual and Val3's default value. However in said manual the acceleration is specified to be in percent, ie in the range of

[2020-01-10 18:23] marshallpowell97 opened #1 "Remove velocity override code (pushMotion)"
https://github.com/ros-industrial/staubli_val3_driver/blob/55b4fe6d3fbc60fa7a89139aa0f195c5d3c62072/staubli_val3_driver/val3/ros_server/pushMotion.pgx#L72-L79

Sets the velocity to the value set on the teach pendant if 'velocity override' is enabled. This does not seem to work as intended since the velocity set on the pendant already "overrides" whatever value is set in the Val3 code. The result i

[2020-01-16 17:27] gavanderhoorn opened #2 "High jerk at end of trajectories"
Reported on ROS Answers: [Industrial Robot Client sends wrong velocity on last waypoint?](https://answers.ros.org/question/338545).

It's unclear at the moment whether this is an issue in `staubli_val3_driver`, `industrial_robot_client` or somewhere else.

[2020-01-16 17:28] gavanderhoorn opened #7 "val3_driver: remove magic numbers"
The current `staubli_val3_driver` VAL3 sources contain quite a few magic numbers ([here](https://github.com/ros-industrial/staubli_experimental/blob/50c753b99f7acab0dd61b8cca30f9c9d32e5edc0/staubli_val3_driver/val3/ros_server/dataReceiver.pgx#L44), [here](https://github.com/ros-industrial/staubli_experimental/blob/50c753b99f7acab0dd61b8cca30f9c9d32e5edc0/staubli_val3_driver/val3/ros_server/pushMot

[2020-01-27 12:51] gavanderhoorn opened #10 "VAL 3 linter?"
Just wondering: @marshallpowell97: would you happen to know whether there is a VAL 3 linter available somewhere?

This might be nice to have in the CI setup (#9). But would have to be stand-alone of course (ie: not integrated into SRS).

[2020-01-27 12:52] gavanderhoorn commented on #10
Seeing as it's all XML (at a low-level), we could run a generic XML linter/parser just to see whether files don't contain any illegal entities, etc.

[2020-02-09 16:14] gavanderhoorn commented on #2
@marshallpowell97: could you perhaps provide some advice on whether by default the *Nominal* or *Maximum* joint velocity limits should be used?

Would be good to have some conclusion here.

[2020-02-10 20:23] marshallpowell97 commented on #2
@gavanderhoorn From what I've been able to gather, the maximum values are a "best case" scenario, and cannot be expected from multiple joints at the same time. The motion descriptor only has a singular "vel" parameter which is applied to the joint that is moving the furthest and all of the other joints will move at a percentage of that. So using the nominal velocities would be my recommendation.

[2020-02-10 20:26] marshallpowell97 commented on #2
Also, side note, I was able to replicate the trajectory above at one point, but now something has changed and my new trajectory looks super messy:
![image](https://user-images.githubusercontent.com/48460127/74186886-76d84600-4c19-11ea-9d10-29e6951d4af1.png)
Any ideas what I could have done? I am using the nominal velocities and accel limits of 9999. (This is not using any of the changes from #8 )

[2020-02-10 20:48] gavanderhoorn commented on #2
Unfortunately, without looking into this I wouldn't know.

I would recommend to take a look at the ROS side of things though (ie: `plot juggler` and `rostopic echo` of the goal topic).

Looks like lots of acceleration/deceleration?

[2020-02-11 21:40] marshallpowell97 commented on #10
I don't believe so. There is a syntax checker built into SRS, but I am not aware of anything standalone.

[2020-02-12 08:45] gavanderhoorn opened #11 "Add unit tests to / prune dead code from driver"
As commented by @gonzalocasas in https://github.com/ros-industrial/staubli_val3_driver/pull/8#discussion_r377963064, there are programs (VAL 3 terminology) in the library and application that are not used right now.

As a large part of the VAL 3 code implements (parts) of a `simple_message` library, it would be good to create a set of unit tests that exercises relevant execution paths so as to gai

[2020-02-12 08:47] gavanderhoorn commented on #11
@marshallpowell97: I'm not aware of any official testing infrastructure in VAL 3 and/or the SRS, but in a test would simply be a program that exercises a certain part of the functionality offered by `ros_libs` or `ros_server`.

We could use simple print outs (ie: plain text output by the programs) to verify they succeed.

[2020-02-12 08:47] gavanderhoorn commented on #11
#10 also connects to this.

[2020-02-12 08:48] gavanderhoorn commented on #10
is the VAL 3 grammar available somewhere? Either in documentation or as a file?

What does the SRS use to check the syntax? Perhaps some of that could be reused.

[2020-02-12 14:08] marshallpowell97 commented on #10
I did some more digging and I found an "offline syntax checker" that is included with SRS as a `.exe` file. The documentation is lacking, but does this seem to be what you are looking for?
![image](https://user-images.githubusercontent.com/48460127/74342243-3098f900-4d77-11ea-9396-6f6cdc0c9e19.png)

[2020-02-12 14:17] gavanderhoorn commented on #10
Oh, that's a nice find.

Would you happen to know what sort of dependencies it has?

We could potentially integrate it into a Windows based CI setup (using github actions fi).

[2020-02-14 14:06] marshallpowell97 opened #12 "Discrete I/O control"
I am currently discussing with @Bdelspi a way to control an electric [gripper](https://schunk.com/us_en/gripping-systems/series/egp/) through ROS and from what I can tell, there has not been any IO control implemented in this driver. I am not aware of how this is implemented in other drivers, but I would imagine it would be as simple as creating a "gripper server" in the VAL 3 code listening on a

[2020-02-14 14:07] marshallpowell97 commented on #12
Related: [#313](https://github.com/ros-industrial/motoman/issues/313)

[2020-02-14 16:04] gavanderhoorn commented on #12
We don't necessarily need to use a different server task: the network decoding logic already switches based on packet id, and we have packet ids we could use for IO related functionality. That is, if we want to use simple message for this.

IIRC, Staublis have an XML-RPC server (I seem to remember SRS uses this, but I can't find any docs on it). If it does exist, does it allow access to the IO? If

[2020-02-14 19:57] marshallpowell97 commented on #12
I'm perfectly fine recommending the use of a fieldbus instead. In that case, I'd like to maybe see some tools included with the driver, I.E. a modbus configuration file for the controller and some kind of sample code for the PC side. Is that something typically included with other robot drivers, or is it normally left up to the user?

[2020-02-16 17:23] Gloriabhsfer opened #13 "Controlling velocity during execution of (Follow)JointTrajectory goals"
Hi all:

Thanks for the VAL 3 Driver for staubli robot.

The last Thursday, since we have worked together with @marshallpowell97 and tested the example code in motoman_driver:[motoman_driver/src/move_to_joint.py](https://github.com/ros-industrial/motoman/blob/kinetic-devel/motoman_driver/src/move_to_joint.py), it can realize some basic position control.

But the velocity cannot be controlled while

[2020-02-16 19:17] gavanderhoorn commented on #13
I'm assuming "you" here is @marshallpowell97?

Could you please clarify how you concluded "the VAL 3 driver [..] ignored the time_from_start"?

Because afaik, that is not the case.

[2020-02-16 19:21] gavanderhoorn commented on #12
It's not typically included with a robot driver as it's not really part of it.

A modbus configuration can be used with and without a(n industrial) robot. Additionally, there is almost no common configuration between use-cases: in the end the modbus library would be reading/writing coils. Mapping those to higher-level concepts (ie: opening/closing a gripper) is something completely defined by the

[2020-02-16 20:09] Gloriabhsfer commented on #13
Yes, what I mentioned the e-mail is Mr.Powell, we have meet last week and tried this driver on our robot.

We discussed that because we lack the time_form_start parameter so we cannot control the duration time during the start and the end positions we gave for the robot. But it seems in this driver it's already been implement inside the controller.
We have tested the position control package for M

[2020-02-17 09:04] gavanderhoorn commented on #13
Could I ask you (and @Bdelspi) to please not refer to private conversations you've had? There is no way for us to know what you've discussed, and as such, we cannot know what you are referring to.

Your OP was missing quite some details, which you've only added after I asked about it.

This sounds like you're submitting `JointTrajectory`s which you haven't properly time-parameterised.

If that is

[2020-02-17 09:06] gavanderhoorn commented on #13
I've updated the title of this issue as I don't believe we're looking to "implement time_from_start" in the driver, but you're actually asking about how to generate trajectories which will result in certain velocities of the robot's joints during execution.

[2020-02-17 09:09] gavanderhoorn commented on #12
Having written this: I would not be opposed to creating an example configuration and then linking it from the driver's readme / documentation.

Having such an example would be very useful, as it would provide a starting point for users looking to set up something similar.

If you find something is specific to Staubli controllers in such a configuration/package @marshallpowell97, we could consider

[2020-02-17 15:39] marshallpowell97 commented on #12
Both of our controllers (CS8/CS9) use an XML file for the Modbus configuration. I'm not sure if the format is specific to Staubli, but I can provide an example:

`<?xml version="1.0" encoding="ISO-8859-1" standalone="yes"?>
<TOPICSLIST>
	<TOPIC Name="Modbus" Card="0" Channel="0" Equipment="0" RefreshPeriod="200" Actif="1">
		<MODULE Tag_name_root="Bit" IDModule="BOOLEAN" InputSize="" OutputSize="1

[2020-02-18 00:31] Gloriabhsfer commented on #13
Hi Dr. Gavanderhoorn:

Thanks for your quick reply, I apologize to include the private conversation in this issue.
Yes,thanks for the demo code you mentioned in  [#229](https://github.com/ros-industrial/motoman/compare/kinetic-devel...gavanderhoorn:actionclient_example).

Yes, I think that's answered my question: other robot have the robot_driver but staubli robot's driver is for VAL3 language.

A

[2020-02-18 14:05] simonschmeisser commented on #12
+1 from me on adding/documenting modbus features. I tried implementing generic IO support but couldn't get it to work in the short amount of time I had access to a Stäubli. Only way later I discovered the Modbus/TCP interface and therefore used a ProfiNet Master Hilscher card to control the gripper.

For me it would also be interesting to have a generic interface for discrete IO. I think you @gava

[2020-02-27 16:57] gavanderhoorn commented on #12
To move this forward: could you perhaps put together some sort of example of what you are thinking of @marshallpowell97?

We can then decide later where to host this.

[2020-02-27 17:00] gavanderhoorn commented on #12
What I would like to see discussed a little is the ROS API itself. That's why I suggested posting on Discourse.

[2020-03-03 15:06] marshallpowell97 commented on #12
Here is an example: [IOControl.zip](https://github.com/ros-industrial/staubli_val3_driver/files/4281812/IOControl.zip)

`modbus.xml` is the configuration file for the modbus server on the controller which is configured for 2 inputs and 2 outputs (not used right now, but could potentially be useful).

`IOControl.py` is the python script to write to the inputs on the controller. The usage would be:

[2020-03-05 05:43] jediofgever opened #14 "How does one transfers contents of val3 to controller via USB ?"
Hi,
I am trying to copy the driver to controller. But cannot find detailed instructions to do so. I can see the two folders under `val3` when I plug in USB to controller, but I couldn't figure how to copy those two folders.
this https://github.com/ros-industrial/staubli_val3_driver/issues/6  issue seems to be the address for my problem  but long time no activity there too.  As I am just starting w

[2020-03-05 07:52] gavanderhoorn commented on #14
Do you have access to the relevant Staubli manuals?

[2020-03-05 07:53] jediofgever commented on #14
I do but there is no relevant sections, I am using a CS9 controller btw

[2020-03-06 00:51] #14 closed

[2020-03-07 13:10] gavanderhoorn commented on #14
Did you figure it out?

[2020-03-08 00:39] jediofgever commented on #14
I did transfer driver to controller but not with USB, unfortunately I had to install Their SRS software on a windows machine,  I think it would be much better If we include the transferring via USB in details. Since most of us ROS users do not operate a windows machine. I still haven’t found related piece of info for  transferring data via USB on staubli manuals

[2020-03-12 11:00] gavanderhoorn commented on #7
#8 will improve the situation, but there will still be a few left (such as in [fetchStatus](https://github.com/ros-industrial/staubli_val3_driver/blob/1280ba7f587eb352b52955d0cd35976edc1269e8/staubli_val3_driver/val3/ros_server/fetchStatus.pgx) fi).

[2020-03-12 11:00] gavanderhoorn commented on #5
#8 adds a first version of a check. A popup will be shown when the VAL 3 version is too low.

[2020-03-12 11:02] gavanderhoorn commented on #6
I'm going to close this one, as I believe we (as in: the ROS community) are slowly migrating away from the wiki. It will not be used with ROS 2 fi, and keeping documentation near code is a good way to increase the chances it'll be kept up-to-date.

[2020-03-12 11:03] #6 closed

[2020-03-12 11:05] gavanderhoorn commented on #1
As I wrote in https://github.com/ros-industrial/staubli_val3_driver/pull/8#discussion_r369798953, I believe it'd be best to remove the override: it reportedly doesn't work as intended.

I'll change the title of this issue to convert it into an action item.

[2020-03-12 11:06] gavanderhoorn commented on #10
@marshallpowell97: have you been able to find out anything more?

[2020-03-12 11:08] gavanderhoorn commented on #3
I've linked #8, as it changes the implementation of the override.

As I wrote in #1 though, I believe we should remove it entirely.

[2020-03-12 11:09] gavanderhoorn commented on #2
@marshallpowell97: have you had any opportunity to look into the trajectory execution performance? The plots you show indeed don't look very nice.

[2020-03-12 11:12] gavanderhoorn commented on #12
Hm. This is not completely what I had in mind.

My experience with modbus and staublis is limited. Do I understand you correctly when I say that it's impossible to configure the server such that it will allow writing to controller outputs directly?

[2020-03-12 11:16] gavanderhoorn commented on #13
I'm not entirely sure I completely understand what you write in your comment.

As a summary: `FollowJointTrajectory` is a typically offered, high-level interface which offers motion control at trajectory granularity. It is not really intended for low-level motion control of ROS enabled robots.

In general, for this trajectory interface to work properly, you'll need to make sure to populate all fie

[2020-03-12 11:17] gavanderhoorn commented on #13
As I believe the issues raised here are not really issues with the code in this repository, but are questions about the usage of the generic, ROS-based, `FollowJointTrajectory` interface, I'm closing this issue.

It's perfectly fine of course to keep commenting on it.

[2020-03-12 11:17] #13 closed

[2020-03-12 13:57] marshallpowell97 commented on #12
That's correct, unfortunately. From my understanding it's a safety concern.

[2020-03-12 13:59] marshallpowell97 commented on #1
I have this removed in a branch [here](https://github.com/marshallpowell97/staubli_val3_driver/tree/removeVelOverwrite) ready to make a pull request whenever the previous one is approved.

[2020-03-12 14:28] gavanderhoorn commented on #1
It would probably be good to rebase your new branch once #8 gets merged.

[2020-03-12 14:42] #3 closed

[2020-03-19 15:16] marshallpowell97 commented on #10
@gavanderhoorn I can't seem to get it to work. I am trying to find someone at Staubli that knows how to use it.

If you have access to SRS (even without a license), it should already be included.

[2020-03-20 14:35] gonzalocasas opened #16 "Last point of trajectory skipped"
Recently started seeing some trajectories appear to skip the last point. It is not entirely clear to me where this comes from, but it seems to have appeared after I cherry picked the changes in the pull request #8 on my private fork of this driver.

When looking for causes of this problem, this pull request seemed like a potential source, and in particular, the code in `interpolateVel.pgx` that ca

[2020-03-20 16:31] gonzalocasas commented on #16
I added the [wireshare capture to the gist](https://gist.github.com/gonzalocasas/a52a63b579d8a1d8fc4ad983a319b39d#file-wiresharktrajectory-driver-bridge-zip). I captured it using the following filter: `port 11000 or port 11002 or port 9090` (to include also the `rosbridge` packets). Let me know if the capture is correct.

[2020-03-20 16:32] gavanderhoorn commented on #16
Could you please attach it to this issue instead?

If you ever delete the gist, we lose access to all of it.

[2020-03-20 16:33] gavanderhoorn commented on #16
@marshallpowell97: if you'd like to take a look at the wireshark capture, be sure to install [ros-industrial/packet-simplemessage](https://github.com/ros-industrial/packet-simplemessage).

[2020-03-20 16:44] gavanderhoorn commented on #16
@gonzalocasas: where abouts in the capture should we see a problem / something different? And how do you feel that relates to the problem you are encountering?

[2020-03-20 16:52] gonzalocasas commented on #16
The capture is one single trajectory sent to the robot. It has 78 points and the robot executes the first 77 and stops (joint states updates until matching exactly the point 77 and then motion stops).

[2020-03-20 16:57] gonzalocasas commented on #16
Microphone robot is `192.168.0.201`.

[2020-03-20 16:59] gavanderhoorn commented on #16
From the capture it would appear all points are successfully transmitted to the server application: first point in pkt `12770` (seq 0), last one in `14249` (seq 77).

All of those are also ACK-ed.

That would seem to point to the execution side of things.

[2020-03-20 17:02] gonzalocasas commented on #16
About my previous comment of "Recently started seeing some trajectories appear to skip the last point", I meant that in the past months, prior the update that included the velocity smoothing fix, this didn't happen and the process was running almost 24 hours/day for months. After the update we notice this issue on some trajectories.

This is the first trajectory on which we saw this larger deviati

[2020-03-20 17:07] gavanderhoorn commented on #16
Just making sure: the `77` and `78` references you make are 1-based, correct?

Because the sequence nrs are 0-based.

[2020-03-20 17:10] gonzalocasas commented on #16
Exactly.

[2020-03-20 17:22] gonzalocasas commented on #16
One additional detail I've noticed: when I send this very same trajectory in reverse order (literally calling python's `reversed` on the points and then re-assigning `time_from_start` values from the original order), then that executes perfectly until the final point. So I assume something about the last two points triggers a condition that causes the last to skip, but this does not happen with al

[2020-03-20 17:38] gavanderhoorn commented on #16
Hm. The last point has `velocity == 0.1`, which is used in the conditional here:

https://github.com/ros-industrial/staubli_val3_driver/blob/17fd14a7b07e17e9c081ab2b033a2f94031f1332/staubli_val3_driver/val3/ros_server/interpolateVel.pgx#L15

for trajectories where it doesn't work, does the UI show the last point being "popped", or is it stuck at `len(traj) - 1`?

[2020-03-20 17:48] gonzalocasas commented on #16
I don't have physical access to the robots due to the corona virus lockdown, so I'm running all this remotely, so I don't see the UI unfortunately.

I did check the logfiles to see if anything in there indicates an error but there's nothing unusual.

[2020-03-20 17:50] gavanderhoorn commented on #16
Not sure what's going on exactly. The code you called out is:

https://github.com/ros-industrial/staubli_val3_driver/blob/17fd14a7b07e17e9c081ab2b033a2f94031f1332/staubli_val3_driver/val3/ros_server/motionControl.pgx#L45-L67

It doesn't appear to be referencing previous points (`l_motion` is always popped from `qMoveBuffer`).

Only the velocity gets overwritten if `(x_mMotion.mDesc.vel == 0.1) and

[2020-03-20 17:53] gavanderhoorn commented on #16
In https://github.com/ros-industrial/staubli_val3_driver/pull/8#discussion_r395530229 you write:

could you be specific as to *which* commit(s) you've actually cherry-picked?

[2020-03-20 20:29] marshallpowell97 commented on #16
Whoops, looks like I forgot to change that when moving the interpolation out of the decode program. Which brings up another question of why this works at all?

Would it make more sense to just remove this? The purpose of this was to get rid of the "jerk" at the last point which only happened because of incorrect vel and accel limits in joints.yaml per https://github.com/ros-industrial/staubli_val3

[2020-03-20 20:35] gavanderhoorn commented on #16
It's unclear whether it works.

It would be great if you could take a look.

[2020-03-23 09:33] gonzalocasas commented on #16
Attaching all gist files here as requested:
- [bagfile-unfinished-trajectory_2020-03-20-14-57-09.zip](https://github.com/ros-industrial/staubli_val3_driver/files/4368308/bagfile-unfinished-trajectory_2020-03-20-14-57-09.zip)
- [wiresharktrajectory-driver-bridge.zip](https://github.com/ros-industrial/staubli_val3_driver/files/4368311/wiresharktrajectory-driver-bridge.zip)
- [trajectory-json.zip](ht

[2020-03-23 10:10] gonzalocasas commented on #16
Sorry, wrong choice of words: I did not literally cherry-picked in git terms, instead I backported the change picking lines I needed.

However, **I did this while it was still an open PR**, in particular before the refactoring into the `interpolateVel` program was done. The code I am running basically matches [this commit](https://github.com/ros-industrial/staubli_val3_driver/blob/a61e87100242b9e5

[2020-03-23 10:14] gavanderhoorn commented on #16
Could you please remove all changes from `decTrajPt` and get it in-sync with [this](https://github.com/ros-industrial/staubli_val3_driver/blob/17fd14a7b07e17e9c081ab2b033a2f94031f1332/staubli_val3_driver/val3/ros_server/decTrajPt.pgx)?

No changes to that file have been merged in the end. Neither to `decTrajPtFull.pgx`.

It has all been moved to `interpolateVel` and `motionControl`.

[2020-03-23 10:19] gavanderhoorn opened #17 "Move package to root of repository"
As there is only a single package here, there is no need to keep it in a sub directory of the repository.

[2020-03-23 10:19] gavanderhoorn commented on #17
We'll wait till #15 is merged.

[2020-03-23 10:19] gonzalocasas commented on #16
Yes, I will do now.

Indeed, the code I used, still relied on the `rosTrajPtMsg.jointTrajPt.nVelocity` for the comparison against `0.1` which would happen before the conversion to percentage (at that point in the commit history, now it's unclear, I think the check is incorrect).

[2020-03-23 10:43] gavanderhoorn commented on #16
Btw: not sure how you are transferring changes here to your fork of `ros-industrial/staubli_experimental`, but `.patch` files might be easier than manual edits.

[2020-03-24 16:54] gavanderhoorn commented on #16
@gonzalocasas: is this still a problem after syncing with current `HEAD`?

[2020-03-24 17:43] gonzalocasas commented on #16
@gavanderhoorn sorry, haven't been able to test so far. Tomorrow I will manage to do it most likely.

[2020-03-25 16:47] gonzalocasas commented on #16
I can confirm that after removing the velocity interpolation from my fork, the problem went away. I did not test to re-add it as in current `HEAD` thou. I will try to update my Staubli Robot Suite virtual controller to test the same trajectory but with the driver version as in the current head.

[2020-03-30 12:31] gavanderhoorn commented on #16
As it would appear the current code in `HEAD` here does not exhibit the issue @gonzalocasas encountered (it was caused by a divergence between `HEAD` and his fork), I'm going to close this.

Having written that: there is certainly still an issue with the "velocity averaging" code introduced by @marshallpowell97 in #8. I'll post a new issue to track that.

[2020-03-30 12:31] #16 closed

[2020-03-30 12:37] gavanderhoorn opened #18 "interpolateVel: velocity smoother does not appear to work correctly"
@gavanderhoorn wrote in https://github.com/ros-industrial/staubli_val3_driver/issues/16#issuecomment-601833239:

The conditional is here:

https://github.com/ros-industrial/staubli_val3_driver/blob/17fd14a7b07e17e9c081ab2b033a2f94031f1332/staubli_val3_driver/val3/ros_server/interpolateVel.pgx#L14-L17

As noted in the quote above: `mDesc.vel` isn't actually between `(0, 1]` here any more, but is co

[2020-03-30 12:39] gavanderhoorn commented on #18
@marshallpowell97: could you take a look?

Perhaps the approach taken in `interpolateVel` could be changed?

[2020-03-30 12:40] gavanderhoorn commented on #5
I'll close this as #8 added a check for this.

Further improvements / discussion should take place in new issues.

[2020-03-30 12:40] #5 closed

[2020-03-30 12:40] gavanderhoorn commented on #5
Thanks @marshallpowell97 for the contribution :+1: .

[2020-03-30 12:42] gavanderhoorn commented on #1
I've linked this to #9, as it (starts to) remove(s) the velocity override.

[2020-03-30 12:43] gavanderhoorn commented on #1
Seeing issues like #2 (and the attempts to fix this in #8 and then #18), perhaps the rationale behind the velocity override functionality was exactly the problems we're encountering now?

[2020-03-30 12:44] gavanderhoorn commented on #10
have you been able to find anyone?

[2020-03-30 12:47] gavanderhoorn commented on #4
I've linked #15 here, as that would seem to resolve the incompatibilities with CS9 controllers in the code identified in this issue.

@simonschmeisser: you don't happen to have a CS9 near you to test #15, would you?

@gonzalocasas: would you perhaps see a chance to test #15? Just an SRS run would be fine.

[2020-03-30 12:51] gavanderhoorn commented on #2
Even though #8 was merged, I've not closed this as I believe we've not actually resolved it.

The velocity interpolator added in #8 seems to not work correctly (tracking in #18), so I expect the same problem to exist.

Summarising: the last segment appears to be given a higher value for the `velocity` than the immediately preceding point in some cases, which leads to a sudden jump in TCP velocity

[2020-04-15 08:20] simonschmeisser opened #19 "typo in repository description"
should be `Stäubli` instead of `Staübli` in the repository description

[2020-04-15 08:40] gavanderhoorn commented on #19
Not sure what you're talking about ;)

[2020-04-15 08:42] #19 closed

[2020-04-30 10:30] sonny-tarbouriech opened #20 "On-line joint motion control using VAL 3 driver"
Hi there,

I'm trying to find a solution to perform a reactive control on a Staubli tx2 robot using ROS. From what I understand, the driver provides a FollowJointTrajectory action server which intends to execute a pre-calculated joint trajectory on the robot.

Would there be a way to use/implement a "low" level controller allowing to execute dynamic motions instead of pre-defined trajectories?

Th

[2020-05-01 18:49] marshallpowell97 commented on #12
@gavanderhoorn It turns out I was wrong about this and it IS possible to link an input to an output using `dioLink()`. Would that make it closer to what you had in mind?

[2020-05-04 12:35] gavanderhoorn commented on #12
If we can indeed configure modbus as you would normally do, then we could provide some reference configurations and perhaps even select a specific library / ROS package which we've verified works.

There are a few (such as [wiki/modbus](http://wiki.ros.org/modbus), just a random one). If we gather a few and test them, we should select one or two and provide known-working configurations and `.launc

[2020-05-06 20:38] marshallpowell97 commented on #10
@gavanderhoorn I was able to get this working. Do you have access to a copy of SRS? Even without a license, you should be able to download and install emulators which include the syntax checker for that specific controller/VAL 3 version.

[2020-05-08 11:11] gavanderhoorn commented on #20
Yes, that is correct.

Well, not without changes to the source.

The modifications needed would be similar to ros-industrial/motoman#215, which essentially adds a topic interface which accepts individual points.

No one has released this for the generic clients though, which this driver uses.

The controller itself would certainly support it -- as long as the motion queue is kept non-empty, motion

[2020-05-08 11:19] gavanderhoorn opened #21 "Improve quality of motion by interpolating incoming trajectories @ 4ms"
This is already a TODO in the driver:

https://github.com/ros-industrial/staubli_val3_driver/blob/17fd14a7b07e17e9c081ab2b033a2f94031f1332/staubli_val3_driver/val3/ros_server/motionControl.pgx#L43-L44

The current implementation essentially forwards the incoming ROS trajectory 1-to-1 without any interpolation or post/preprocessing.

I'm wondering whether interpolation on the controller -- with a k

[2020-05-08 11:21] gavanderhoorn commented on #21
@marshallpowell97: would this be something you would deem as worth it? It would be a bit of an investment to implement this on the controller I guess.

It would not help make the driver interface any more dynamic (as requested in #20), but it may help with increasing (perceived) motion quality.

Note that this sort of functionality wouldn't even be ROS-specific: any interface used to transmit spar

[2020-05-08 11:22] gavanderhoorn commented on #10
I have some old copies here. I'd have to check whether I could download newer ones.

If not, I'll try to reach out to Staubli Benelux.

[2020-06-09 18:34] #1 closed

[2020-06-09 18:34] #4 closed

[2020-08-06 10:28] sinamr commented on #20
Hi,

In case one do the modifications,  I was wondering what would be the maximum update rate for on-line planning? Is it 250 Hz?

Best,
Sina

[2020-08-06 10:33] gavanderhoorn commented on #20
I can't say anything conclusively.

Perhaps @marshallpowell97 could comment on that.

[2020-08-06 10:34] gavanderhoorn commented on #20
Also: closing this due to inactivity.

[2020-08-06 10:34] #20 closed

[2020-08-06 11:32] sinamr commented on #20
Thanks a lot.
@marshallpowell97 , I just need an approximate number, no need for the accurate one.

[2020-08-18 20:50] rishabhgks opened #22 "VAL3 version compatibility wtih versions lower than 7.3"
I will be purchasing a used Staubli TX-90L and the seller has informed me that the VAL3 version supported by that controller goes up to version 7.3
This is my first time working on a Staubli arm and on VAL3.
I wanted to know if there is any kind of compatibility between the val3_driver and older versions of VAL3 as the Readme mentioned that the VAL3 version needs to be 7.7.2 atleast.
If it is not

[2020-08-18 20:54] kalihamilton commented on #22
Wanted to add to this and ask if anyone knows how to update the version of VAL3? Or is that something that has to go through Staubli?

[2020-08-19 07:10] gavanderhoorn commented on #22
We've only tested it with the version of VAL3 mentioned in the readme.

That version was needed as it comes with some of the required socket communication primitives the driver needs.

I cannot say anything about compatibility with older versions of VAL3.

I would suggest to contact Staubli about this, or post your question on a forum dedicated to talking about Staubli robots and controller hardwa

[2020-08-19 07:10] gavanderhoorn commented on #22
I would indeed suggest to contact your local Staubli branch office.

[2020-08-19 07:11] gavanderhoorn commented on #22
As this is not something actionable here, I'm going to close this issue.

Feel free to keep commenting on it of course.

[2020-08-19 07:11] #22 closed

[2020-08-19 12:55] marshallpowell97 commented on #20
@sinamr The arm uses a boxcar filter which changes the update frequency of the arm. The filter length is not necessarily the same on each arm, so the update frequency will not always be the same. There are ways to bypass the boxcar filter (I.E. using a pre-calculated spline trajectory) but all require an additional license from Staubli.

I looked into adding something like this to the driver, but

[2020-08-19 13:10] marshallpowell97 commented on #22
The readme gives the reason that "this implementation uses return values of sioGet() only available from s7.7.2 onwards". I am not sure that this is accurate since the release notes for VAL3 s7.7.2 do not mention anything about `sioGet()` and such a major change would not usually occur in a minor revision number. The driver passes a syntax check for s7.3 but I cannot confirm that it works at the m

[2020-08-19 14:09] kalihamilton commented on #22
@marshallpowell97 I also didn't see any changes in functionality between sioGet() in Version 6 vs Version 7.

I did notice the addition of brackets in the sioGet() definition in the documentation (reference manuals from tech support database):
v6: num sioGet(sio siInput, num& nData)
v7, v8: num sioGet(sio siInput, num& nData[])

as well as the call to the serial connection is also different:
v6: n

[2020-08-19 14:23] gavanderhoorn commented on #22
It's been a while (the original code was contributed in 2015), but I believe the issue was that the behaviour of `sioGet(..)` an `sioSet(..)` was different between the two versions we tested (one 7.7.2 and the other an older one). I've tried to find my emails about this, but I can't find a single one which really explains what we did or why any more.

If it turns out older versions of VAL3 also wo

[2020-09-15 19:42] marshallpowell97 commented on #13
Just to follow up here,

I am not 100% sure if this is getting converted correctly. I ran [this](https://github.com/gavanderhoorn/motoman/blob/c1c8dff44733bb327a717b22d5c934cc4010969c/motoman_driver/examples/simple_trajectory_action_client.py) script (only changing the joint names) and see the following on the `/joint_trajectory_action/goal` rostopic:

[code]

I ran this while debugging on the Sta

[2020-09-15 20:37] gavanderhoorn commented on #13
No, that's correct.

But this is not specific to `industrial_robot_client` per se: in ROS/MoveIt (and with other (planning) frameworks), trajectories encode the desired state *at* a point in time. Industrial robots on the other hand typically only support encoding a motion *to* a destination. Associated with this motion is then a set of *modifiers* which encode constraints on how that motion shoul

[2020-09-15 21:11] marshallpowell97 commented on #13
That makes sense to me. So in this case, since `time_from_start` has a value of `5` and `10` for the second and third points in the trajectory, shouldn't the `velocity` received by the Staubli controller at each of those points be something other than `0.1`? Even with a different value for `time_from_start`, it doesn't seem to have any effect (`velocity` stays at `0.1`).

[2020-11-23 15:21] theotromp97 opened #24 "Unable to connect to live robot"
This is my first post, so i am sure i am missing some information.

I am trying to connect to a real staubli rx160 robot, but cannot get the communication working.

**What i have done so far:**
I have build the staubli rx160 package
I have build the staubli_val3_driver package and followed instructions

I can launch the moveit config with a fake staubli robot and move to random coordinate (plan an

[2020-11-23 15:42] gavanderhoorn commented on #24
The error message:

[code]

gives us an indication of what is going "wrong": the driver needs to know how to *map* incoming joint state messages (from the robot), which are essentially just arrays with anonymous `double`s, to ROS joint names, as `JointState` messages work with *names*, not anonymous arrays of `double`s).

Without supplying it with some information, the driver doesn't have that map

[2020-11-23 15:48] gavanderhoorn commented on #24
As this is not an issue with the driver itself, but a configuration one, I'm going to close this issue.

It could be said we'd need to update / extend the documentation, and that would be true, but we'd need to create a tracking issue for that, not keep this one open.

We'd also need community contributions to create said documentation.

In the meantime: please feel free to keep commenting on your

[2020-11-23 15:48] #24 closed

[2020-12-02 09:48] Aurelien-rkz opened #25 "Incomplete trajectory execution"
Hello everyone,

I'm currently working on a project which consists in doing 3d printing with a staubli robot. To do this I have a list of points that I cut into several trajectories. To compute the trajectories I use "cartesian Path" and the OMPL library but I also tried CHOMP and the Descartes project.

The majority of these trajectories work correctly but the problem is that some of my trajector

[2020-12-02 11:26] gavanderhoorn commented on #25
In order to be able to say anything, we're going to need more information.

Please provide the following:

 1. a full copy-paste of the output on your console after `roslaunch`ing your system (append `--screen` to the `roslaunch` command so all the output is shown)
 1. the ROS `JointTrajectory` which gets submitted as part of the action goal to the driver
 1. a capture of the network traffic betwe

[2020-12-02 15:21] Aurelien-rkz commented on #25
I increased the value of the "eef_step" parameter and that seems to have solved the problem. On the other hand the speeds of the trajectories are not constant, I also have the problem described in issue #2 .

I'll let you know the results when I've done my first tests.

[2020-12-02 15:23] gavanderhoorn commented on #25
So you did not check the return value (ie: `fraction`) to see whether `computeCartesianPath(..)` was able to complete interpolation of your paths?

[2020-12-02 15:24] gavanderhoorn commented on #25
As this appears to not be a problem with the package in this repository, I'm going to close it.

Feel free to keep commenting on it.

[2020-12-02 15:54] Aurelien-rkz commented on #25
All right, thanks for your help.

The fraction value was 1.0 but during execution it was still a problem.

[2020-12-02 15:57] gavanderhoorn commented on #25
Then I'm still interested in seeing the information requested in https://github.com/ros-industrial/staubli_val3_driver/issues/25#issuecomment-737170702.

If `computeCartesianPath(..)` was able to iterate through the full trajectory and output a `JointTrajectory`, then the driver should be able to execute it.

[2020-12-02 17:07] Aurelien-rkz commented on #25
[code]

![plan](https://user-images.githubusercontent.com/68547346/100905561-82f30400-34c8-11eb-998a-ba12cf85aaa6.PNG)
![execute](https://user-images.githubusercontent.com/68547346/100905574-85edf480-34c8-11eb-90b1-00bc4b66b22f.PNG)

[code]

![wireshark](https://user-images.githubusercontent.com/68547346/100906182-30feae00-34c9-11eb-8f0e-ec9dbfc9ece1.PNG)

[2020-12-03 11:18] gavanderhoorn commented on #25
you have a python program starting `roslaunch`?

and I was actually interested in seeing the output of the driver after you submit the trajectory goal.

Did you append `--screen` to the `roslaunch` invocation? If possible, please start things with `roslaunch` directly, instead of using any (Python) wrapper.

With this, I meant you'd have to send us the *actual* capture. Not a screenshot.

Capture

[2020-12-03 13:44] Aurelien-rkz commented on #25
Here is the output of the console from the roslaunch to the moment when the robot remains blocked.

[code]
And here you can find the wireshark file.

[Wireshark.lnk.pcapng.zip](https://github.com/ros-industrial/staubli_val3_driver/files/5636403/Wireshark.lnk.pcapng.zip)

Thank you for your help, let me know if it doesn't fit or if anything else can be useful.

[2020-12-03 14:03] gavanderhoorn commented on #25
Does it start executing the trajectory of 189 points, or does it not even attempt to do that?

The wireshark capture shows the controller returns `FAILURE` for a lot of trajectory points, which is perhaps not being handled correctly the client on the ROS side.

I'll have to check the VAL3 again to see under what conditions the controller will return `FAILURE`.

Could you perhaps also post a photo

[2020-12-03 15:37] Aurelien-rkz commented on #25
Yes, he started the 189-point trajectory but got stuck during it.

Here is the picture at the moment of the blockage :

![20201203_162754](https://user-images.githubusercontent.com/68547346/101051398-bd6ea680-3585-11eb-8108-44cb9e9a5a32.jpg)

[2020-12-03 15:59] gavanderhoorn commented on #25
It's interesting it shows the progress for point `120` to be stuck at `120.9999999999999`. That seems to point to a problem not with the communication between the ROS PC and the controller, but with something getting stuck on the controller (ie: VAL3 side).

@marshallpowell97: would you happen to have any ideas perhaps?

[2020-12-07 15:58] Aurelien-rkz commented on #25
I noticed that the moveID does not start at 0 but at -1. Is this normal? Because this could explains why point 120 is stuck at 120.9999999999999.

This can be found in the staubli_val3_driver/staubli_val3_driver/val3/ros_server/motionControl.pgx file at the line 27.

![sart2](https://user-images.githubusercontent.com/68547346/101372606-5ebe6b00-38ac-11eb-95c0-feca025f31fb.PNG)

But this does not s

[2020-12-17 18:31] Gloriabhsfer opened #26 "incomplete while one action client was done"
Hi all:
I am using the staubli TX2-60 (CS9) with ros melodic version. In order to realize a pick and place task, because now the val3 driver will ignore "duration time" while we execute` trajectory_msgs.msg`, and every actionlib client will send one goal to the server( at robot side), I tried to use multi clients under one node, and each client will send robot one goal, in that case, we can realiz

[2020-12-18 10:34] gavanderhoorn commented on #25
Just to let you know: I've not forgotten about this issue, but I haven't been able to find anything immediately in the code.

As I currently don't have access to a CS9 (or CS8 for that matter), it's difficult for me to test.

I'm still hoping @marshallpowell97 could add something.

yes, it's just a trick as trajectories start a `0`, and you're seeing the initial values of the display items here I

[2020-12-18 10:36] gavanderhoorn commented on #26
I'm not sure I understand what you write.

As a high-level comment:

the driver does not ignore it, but it depends a bit on what you are referring to exactly.

Your link doesn't seem to work.

If you could clarify your post, perhaps we can help.

[2020-12-18 18:30] Gloriabhsfer commented on #26
Hi Gavanderhoorn:

Thanks for your reply. The gist link can works if you copy it and paste it in a new window. I tried many times but the direct link cannot work and I don't know why.
When we worked on the real robot, we can only control the speed by defining a speed rate at the pendent, the method we use trajectory_msgs will not work ( in the normal situation, we set duration=10, which means it w

[2021-01-15 08:33] benthebear93 opened #27 "rosGenericMsg : invalid type"
Hello, i'm trying to run ros_sever with SRS.
ros_sever, ros_libs folder are in this directory "C:\Users\MHM\Documents\Staubli\SRS\ros_test2\Controller1\usr\usrapp"
which is a cell dicrectory.

I opened ros_sever application and used emulator to run
+Disk->ros_server

but error occur and log says "rosGenericMsg: rosGenericMsg : invalid type"

I set the TCP sever two socket (Feedback, Motion) but sa

[2021-01-15 09:54] SinaMirrazavi commented on #27
Interestingly, I am also facing the same problem now,
Any suggestion would be highly appreciated :)

Thanks a  lot

[2021-01-15 10:06] gavanderhoorn commented on #27
Tbh I don't know immediately what would cause this.

Seeing as you're both running into the same problem, perhaps a good first step would be to provide details on:

 - (virtual) controller versions
 - system software versions
 - VAL3 versions
 - how you retrieved a copy of the VAL3 source
 - how you copied the code to the controller / simulation

etc.

The type is defined here: [ros-industrial/sta

[2021-01-16 08:37] benthebear93 commented on #27
Sorry for late reply

(virtual) controller versions : CS8 (not sure where i can check in virtual env but my real controller version is CS8)
system software versions : SRS 2019.7.2
VAL3 versions : s7.11.2
how you retrieved a copy of the VAL3 source : I download from this page, and put ros_libs, ros_server folder into usr/usrapp folder which exists in cell location. (I'm not sure i understand your q

[2021-01-18 16:48] marshallpowell97 commented on #27
Hi @benthebear93

I can't seem to recreate the error in SRS. Can you run a syntax check in SRS and show me the output?

![image](https://user-images.githubusercontent.com/48460127/104942893-fbcbf380-5982-11eb-97d2-20c21cd65f59.png)

[2021-01-19 06:04] benthebear93 commented on #27
@marshallpowell97
![error_image](https://user-images.githubusercontent.com/34788458/104994316-94d43a80-5a67-11eb-8be9-e487e76133c3.PNG)

here is the error

[2021-01-19 08:30] gavanderhoorn commented on #27
@benthebear93: could you please clarify how you downloaded the files of the driver *exactly*?

If you downloaded any links, please tell us which links.

if you used git, please tell us how.

[2021-01-19 09:05] benthebear93 commented on #27
@gavanderhoorn

i got from this git. using zip file for download to test.
also used git clone to test.

but after you said, i test it again with git clone from readme description and it works.
No error when i used "Check ros_server"
No error using SRS emulator  application manager

I didn't really changed anything. I also reused the old files that i used before today but error didn't show too, wei

[2021-01-19 10:37] gavanderhoorn commented on #27
then the same questions about how you checked out the sources for @SinaMirrazavi.

[2021-01-24 12:55] gavanderhoorn commented on #27
I'm going to close this.

It seems @benthebear93's problem was resolved.

@SinaMirrazavi: if you're still experiencing problems, please post an update in a comment here.

[2021-01-24 16:14] SinaMirrazavi commented on #27
Sorry for the late reply. I exactly followed the same procedure benthebear93 described and by cloning the repo the problem was sovled.

[2021-01-24 16:23] gavanderhoorn commented on #27
So downloading the `.zip` didn't work, but `git clone`-ing it did work?

Did you `git clone` on Windows? Or on Linux and then copied the files to the Windows machine?

[2021-01-25 08:20] benthebear93 commented on #27
@gavanderhoorn
So i tried to re-generate the error but couldn't

git clone from window (worked)
download .zip from window(worked)
git clone at linux and move to window machine (worked)
download .zip from linux and move to window machine (worked)

it's weird but everything works for me now.

[2021-01-25 09:34] gavanderhoorn commented on #27
Hm.

Then unless @SinaMirrazavi tries this as well and reports something else, I don't believe we'll be able to figure out what went wrong.

[2021-02-01 20:35] marshallpowell97 commented on #27
@gavanderhoorn I don't believe so. If it did, I think we would see more errors than that.

Like you said, the type is provided by the source, so I don't think the problem is in the repo.

[2021-02-15 09:43] Niknu opened #28 "Question - How to transfer val3 from USB to the controller?"
Hi there,

I'm not sure how I should transfer the val3 driver to the controller, you are writing as followed:

" There are multiple ways of transferring VAL 3 applications to the controller:
1. Copy the contents of val3 folder onto a USB memory stick (<2GB if using CS8), plugging the stick into the controller and using the teach pendant to copy the folders "

In my case, I have a CS8 controller an

[2021-02-16 17:15] pratipo commented on #28
hi
exactly the same here, git cloned the repo in ubuntu 18.04, then copied the contents of /val3

controller: cs8c
val: 7.11.2

[2021-02-16 17:56] gavanderhoorn commented on #28
This starts to sound a bit like #27. Could you both take a look?

[2021-02-16 21:26] pratipo opened #29 "error running ros_server"
hi

i'm trying to get connected to a tx60 using this packet and staubli_experimental one
i'm using melodic

afterwards i'll try to implement a followjointtrajectory action client
is it possible to do it in roslibpy (using rosbridge_server)? i have a blender addon (that i'm going to opensource) that can _stream_  to a topic (so it shouldn't be a problem to send a followJointTrajectoryGoal action) d

[2021-02-17 08:23] gavanderhoorn commented on #29
The error messages shown indicate that either:

 1. the program is not running on the CS8, or
 1. the IP address you've passed to `robot_interface_streaming.launch` is not correct, or
 1. there is a network connection problem between your ROS PC and the CS8, or
 1. there is a firewall between you and the CS8

It's been a long time since I've run this myself, but the error about the IO element coul

[2021-02-17 09:32] pratipo commented on #29
i'll check first the io, altough i think the program runs anyway

do you think i can just remove those 3 lines from `ros_server.dtx` ?

the controller i have is a CS8**C**, i'm not sure it makes any difference

thanks again

[2021-02-17 11:30] gavanderhoorn commented on #29
the error messages indicate the required TCP ports aren't actually open/accepting connections.

The most seen cause for that is the server program not actually running.

I'm not sure sure. It was added by @marshallpowell97 in #8 (in 4cbb7f92), but that may have been an auto-update. Those lines have been part of the driver since the initial import though:

https://github.com/ros-industrial/staubli_

[2021-02-18 17:19] ilaro-org commented on #29
hi

I sorted out, when configuring the sockets ("Feedback" and "Motion") i didnt know how to use caps
i modified ros_server.dtx and it worked, so i reversed the changes and used this

![caps_pendant_staubli](https://user-images.githubusercontent.com/15868408/108394826-705db080-7215-11eb-98ec-8433d3593f7c.png)

the i/o error is gone

and i can get the joint positions by echoing /joint_states topic

[2021-02-18 17:33] gavanderhoorn commented on #29
Ok, thanks for reporting back.

I'll close this then.

[2021-02-18 17:33] #29 closed

[2021-02-18 17:33] gavanderhoorn commented on #29
(I'm guessing you used the wrong account to post your comment, and you're actually @pratipo)

[2021-02-18 17:36] ilaro-org commented on #29
oh sorry, yes its pratipo

i actullay got some extra errors after reuploading the fresh val3 folders (just in case)
i fixed it by
* git cloning (instead of downloading a zip)
* chmod 777 all the files in /val3

i'm not sure whether both or just one of the above makes it actually work, i could actually try to find out, if you think it's usefull

thanks again

[2021-02-18 17:48] gavanderhoorn commented on #29
hm. That reminds me of #27.

It would be great if you could test a `.zip` and see whether that makes any difference.

I would not expect `chmod 777` to matter: there aren't that many FTP clients which preserve access permissions on uploaded files.

[2021-02-19 10:22] Niknu commented on #28
I have tried to clone and download zip on Linux and Windows. It doesn't work with the #27 solution,

What I have is :

Controller : cs8
System: s.7.9.1

Below is images of what I assume is needed information

![IMG_20210219_110819](https://user-images.githubusercontent.com/37380867/108490828-78fcc800-72a3-11eb-897d-1473c082d312.jpg)
![IMG_20210219_111027](https://user-images.githubusercontent.com/

[2021-02-19 10:58] gavanderhoorn commented on #28
So both with the `.zip` as with `git clone` gives you these errors?

[2021-02-19 11:00] gavanderhoorn commented on #28
As this seems to be the same -- or a similar enough -- error as in #27, I'd like to suggest we re-open #27 and continue there.

[2021-02-19 11:00] gavanderhoorn commented on #27
Re-opening as it seems others have ran into this now as well.

See #28.

[2021-02-23 14:46] Shoghairg opened #30 "Staubli tx90xl not achieving movements close to maximum velocities"
We are using moveitcpp to generate trajectories for our staubli tx90xl arm and using the ROS-Industrial Staubli val3 driver to interface with our CS8 controller (both the physical controller and emulated one in SRS). The controller setup in moveit is FollowJointTrajectory. The resultant trajectories are executed at a very slow speed on the physical arm and SRS. One case of a tested motion is Joint

[2021-02-23 19:11] gavanderhoorn commented on #30
just a quick comment on this:

"max acceleration limit" is not something I recognise. There is `max_acceleration` and `has_acceleration_limits` in the `joint_limits.yaml` file of your MoveIt configuration package.

`max_acceleration` should be a scalar, a double, and should be equal to the maximum acceleration (in rad/s^2) which the joint is capable of.

`has_acceleration_limits` should also be a

[2021-02-23 23:54] Shoghairg commented on #30
@gavanderhoorn Thanks for the reply. Yes, I meant to say the `has_acceleration_limits` has been set to true and `max_acceleration` has been set, we could not find documentation for the maximum acceleration (in rad/s^2) which the joint is capable of. We varied it from 2 rad/s^2 to even trying 9999 rad/s^2. The speed increase eventually plateaus as it was assumed the discretization of the path allow

[2021-02-24 08:35] gavanderhoorn commented on #30
There are a few other issues on the tracker which are similar I believe.

See #2 fi. Specifically https://github.com/ros-industrial/staubli_val3_driver/issues/2#issuecomment-563364169.

We haven't addressed https://github.com/ros-industrial/staubli/issues/35, so it could be that you're running into that issue.

[2021-02-24 08:51] gavanderhoorn commented on #30
I would also recommend to create some Wireshark captures of the traffic between the ROS PC and the Staubli controller (or SRS).

That should give us some insight into what gets transferred to the controller.

[2021-02-25 08:48] gavanderhoorn commented on #28
I'm going to close this one, we'll continue in #27.

[2021-02-25 08:48] #28 closed

[2021-02-25 08:49] gavanderhoorn commented on #25
Is this still a problem?

[2021-03-04 14:52] Shoghairg commented on #30
@gavanderhoorn In reagrds to [#2 (comment)](https://github.com/ros-industrial/staubli_val3_driver/issues/2#issuecomment-563364169), we were not able to find nominal values anywhere in the tx90xl documentation. However, we did try setting it to 50-80% of the maximum values and did not have an improvement or change of response.

[ros-industrial/staubli#35](https://github.com/ros-industrial/staubli/i

[2021-03-04 15:05] gavanderhoorn commented on #30
did you intend to link to the captures? I don't see a link in the comment.

I hope you found [ros-industrial/packet-simplemessage](https://github.com/ros-industrial/packet-simplemessage).

As to what you observe, I cannot provide any guidance right now. It's rather difficult to help diagnose these kinds of problems without access to the hw itself.

If you can provide the wireshark captures *and* t

[2021-03-04 15:26] Shoghairg commented on #30
Yes, I did. I've linked the captures in a zip file here: simple_message.zip](https://github.com/ros-industrial/staubli_val3_driver/files/6084720/simple_message.zip)

[2021-03-04 15:32] gavanderhoorn commented on #30
And the trajectories?

[2021-03-04 15:51] Shoghairg commented on #30
[simple_message.txt](https://github.com/ros-industrial/staubli_val3_driver/files/6084886/simple_message.txt)

[2021-03-04 15:52] gavanderhoorn commented on #30
I meant the `JointTrajectory` messages which get sent to the driver.

Perhaps as part of the `FollowJointTrajectory` action goal.

[2021-03-04 15:57] gavanderhoorn commented on #30
Taking a quick look at the capture:

 - the first point in the trajectory gets sent in packet 855
 - the last traj point is sent in pkt 1236
 - dt between these two is approx 1.37 seconds
 - the robot starts to really move in pkt 892 (although the `STATUS` pkt claims it's moving in 874 (almost immediately after receiving the first traj pt)
 - the robot stops moving (ie: reaches the destination for

[2021-03-04 16:00] Shoghairg commented on #30
Sorry, I'm not too familiar with wireshark and not sure what you mean.  Aren't these the `JointTrajectory` messages? They are being sent to the driver, of message type `Joint Tracjectory Point`. That was the only message found to be sent to the driver when using wireshark Lua dissector.

[2021-03-04 16:03] gavanderhoorn commented on #30
"the driver" is the ROS node, in this case `industrial_robot_client`.

[JointTrajectory](http://docs.ros.org/en/api/trajectory_msgs/html/msg/JointTrajectory.html) is the ROS message type which is used to communicate joint trajectories between ROS nodes.

In the case of `industrial_robot_client`, there is also a `joint_trajectory_action` server which exposes a [FollowJointTrajectory](http://docs.ro

[2021-03-04 16:50] Shoghairg commented on #30
What about the velocity values in the message, the maximum value is 0.521296 in pkt 2673. If the controller received that value, should we not be expecting faster speeds?

Is this what you meant? I created another [capture](https://github.com/ros-industrial/staubli_val3_driver/files/6085250/simple_message_3.zip) and did a rosbag for the topic `/arm_controller/follow_joint_trajectory/goal`.
[follow

[2021-03-04 17:43] gavanderhoorn commented on #30
I did not make any statements about whether or not things should go faster. It was simply a summary of the network traffic captured while the driver was transmitting the first trajectory.

yes, this is what we were missing.

[2021-03-09 17:11] Shoghairg commented on #30
Yes, I was just wondering if you did have any thoughts on it?

Looking through these, from the rostopics, the maximum velocity achieved is 3.62 rad/s. The average velocity is around 2.45rad/s.
Considering the packets- motion starting at pkt216 (time: 0.900294597) and terminating at pkt501 (time:1.8974699), the max speed seen is 0.518 (around 3.57rad/s), on average around 2.4rad/s once again. Calcu

[2021-03-11 11:59] gavanderhoorn commented on #30
yes, I agree with you.

changing the acceleration settings should not be necessary, so that's at best a work-around and not something I would be happy with.

At the moment the problem *appears* to be on the execution side, but I don't have any suggestions as to where to look for potential problems in the implementation right now.

And just to make sure: other VAL3 programs which execute the same m

[2021-03-23 22:15] Shoghairg commented on #30
Sorry on the delayed response, did not have a chance to test on the arm for a while.
We had not tested out other VAL3 programs but have done so now.
We tested out for motions for x to y path as well as shorter ones covering a square. Videos below- left is rosserver, right is our other val 3 application.

https://user-images.githubusercontent.com/77738811/112225043-93a7c100-8c02-11eb-8335-e68af3907

[2021-03-24 13:17] gavanderhoorn commented on #30
Could it be you've interpreted maximum velocity attainable as the velocity at which motions are *always* executed?

Motions must be planned to be smooth, so velocity profiles always include ramp up and ramp down phases. Without sufficient distance to travel, no robot will get near the maximum specced velocity limits.

[2021-03-24 14:21] Shoghairg commented on #30
Is there another layer of smoothing occurring besides the trajectories generated by moveit? Aren't the values sent to the controller factored in for that?
Our generated velocities do ramp up and down, but looking through the SimpleMessage topics and the our arm execution. The arm does not appear to travel at those speeds, that is if we consider that 100% is infact the maximum velocity.

We have at

[2021-03-25 08:22] gavanderhoorn commented on #30
My comment was a general one, not one specific to your usage with ROS or plain VAL3 programs.

*All* robot controllers filter user-programmed trajectories. It doesn't matter whether you've already taken that into account -- of course, if your trajectory is already sufficiently smooth, the filtering won't change that much, but it's still performed.

you should certainly take the nominal values as *

[2021-03-25 08:29] gavanderhoorn commented on #30
But with your latest comments about native performance with VAL3, it starts to look like the driver reaches similar performance.

I'm not claiming here everything is OK and it can't be improved, but from the videos I don't get the impression the driver is significantly slower -- at least not with the motions you've tested.

[2021-03-29 18:53] marshallpowell97 commented on #30
When we are talking about the mdesc, 100% is the nominal, not the maximum. For most applications, going above 100% is ok, and I have even seen 200% or more do just fine with low/no payload.

[2021-04-24 19:17] Shoghairg opened #31 "Clear trajectorty/motion buffer to not execute stale commands"
Hello,

I am currently running a tx90xl and send trajectory messages to the arm by creating a publisher to generate custom trajectories to send to industrial robot client. The publish rate varies and is sometimes dependent on subscribed topic and other processes.
The progress of the arm falls far behind the trajectory and motion buffer and the arm inevitable executes stale commands as it tries to

[2021-04-29 18:15] gavanderhoorn commented on #31
if at all possible, I'd advice using the action client to send `JointTrajectionAction` goals instead of using the topic interface.

It will result in much more predictable behaviour, and makes scheduling of motions easier, more efficient and less dependent on timing. Coordination with external nodes is also much easier, as actions follow a very well defined control flow.

The progress of the arm f

[2021-05-05 21:24] Shoghairg commented on #31
We had attempted to use the `JointTrajectionAction` initially, this slowed down our application much more than desired.

I see, would you possibly have any recommendations on how to adjust for close to an online streaming approach? We have been trying to `resetMotion()` intermittently or using an `alterMovej()` to execute command instead of [movej](https://github.com/ros-industrial/staubli_val3_dr

[2021-06-07 12:48] davidDS96 opened #32 "Realtime arm servoing with Staubli TX2-90"
Hello community,

In our research group, we would like to perform Realtime arm servoing with a Staubli TX2-90 robot arm with a CS9 controller.
The realtime arm servoing, as mentioned in the tutorial of MoveIt (https://ros-planning.github.io/moveit_tutorials/doc/realtime_servo/realtime_servo_tutorial.html) requires a _JointGroupPositionController_ or a _JointGroupVelocityController_.
Is it possible

[2021-06-07 13:50] gavanderhoorn commented on #32
The controller mentioned in the Servo tutorial is a `ros_control` controller. `staubli_val3_driver` is not `ros_control` based, so the answer to your exact question would be: no, that is not possible.

Servo however does not *require* those controllers. It requires a topic-based interface with similar semantics (ie: message types accepted and behaviour). It's just that Andy described it as he does

[2021-06-07 13:52] gavanderhoorn commented on #32
Another alternative could be to look at UniVAL. This is a much lower-level interface to Staubli controllers.

It's a paid option though, and would require development in languages other than VAL 3.

Perhaps @marshallpowell97 could add something about that.

[2021-06-07 14:17] gavanderhoorn commented on #32
Having written that, I just noticed a new fork ([FAU-FAPS/staubli_val3_driver](https://github.com/FAU-FAPS/staubli_val3_driver)) which seems to add "velocity control": https://github.com/ros-industrial/staubli_val3_driver/compare/master...FAU-FAPS:faps-devel, which would make what I wrote in https://github.com/ros-industrial/staubli_val3_driver/issues/32#issuecomment-855947562 already quite a bit

[2021-06-07 14:40] enginkarlidag commented on #32
Hi,

our fork was noticed faster than I thought ;)

We are currently working on the release of our work which we called an "Adaptive Motion Control Middleware". It is integrated into the existing system architecture of a ROS-I (simple message) based ROS 1 driver as a kind of abstraction layer. The "middleware" adds *motion control modes* like jogging and pose tracking. For this, we modified the ro

[2021-06-08 10:51] enginkarlidag commented on #32
The "middleware" package and the driver forks were developed in a project at our lab while I was working there as a student assistant. The code is released now in parallel to a paper which will be presented soon. I would have to discuss this with the responsible people at the lab.

There is no buffering in the driver (server) implementation at least. Only the most current commands will be executed

[2021-06-08 17:45] gavanderhoorn commented on #32
To clarify: I was referring to the changes to `staubli_val3_driver`. Not the parts you refer to as "middleware" per se.

that could already provide a nice first insight into what users could expect, yes.

yes, I'd understood that from reading the code.

IIRC, that velocity addon is/was a free addon, so it should not be too much of a problem for interested users.

[2021-06-09 12:23] AshwathamanGovind opened #33 "ros_server NOT running in CS9 controller"
When i tried to start the ros_server after sending the contents inside the val3 directory to the usrapp/ directory in cs9. An error saying "cannot start ros_server.pgx" is shown and i am not able to start the server. I am using a cs9 controller and TX2_60 Robot here and i am making use of the staubli driver that i got from https://github.com/ros-industrial/staubli_val3_driver/ . Can you anyone hel

[2021-06-09 12:38] gavanderhoorn commented on #33
As far as we know, CS9 should be supported and work. This was contributed by @marshallpowell97 in #15.

Are there are any more informative (error) messages displayed then `cannot start ros_server.pgx`?

Perhaps you could take a picture of the TP when it shows you that error?

[2021-06-10 07:06] AshwathamanGovind commented on #33
This is error that i get when i try to run the ros_server from SP2 in Staubli
![Staubli_error](https://user-images.githubusercontent.com/78215878/121480110-5a544580-c9e8-11eb-9238-79e5d749d262.jpeg)

[2021-06-10 07:32] AshwathamanGovind opened #34 "Problems in understanding and troubleshooting Staubli TX2_60 with CS9"
Hai,
I am new to ROS development and Staubli robots. Though i have some prior knowledge on UR5e, I am finding it hard to understand the architecture of Staubli and its other programming interfaces (like staubli robotics suite). So can anyone suggest a beginners tutorial or a guide where i can get a good understanding on the staubli's architecture(VAL3, SRS) and its ROS interfacing. I am not able t

[2021-06-10 08:07] gavanderhoorn commented on #34
You're correct: your question is off-topic for this issue tracker.

I can only recommend to reach out to your local Staubli branch office to ask them about training.

As with all `ros-industrial` robot drivers: `staubli_val3_driver` should *not* be your first exposure/interaction with an industrial robot.

Too many things can go wrong, and you'll be trying to learn many different things at the sam

[2021-06-10 08:08] gavanderhoorn commented on #34
As this is not an issue with the package in this repository, I'm going to close the issue.

[2021-06-10 08:08] #34 closed

[2021-06-10 08:11] JohannesFriedrich commented on #33
Just a little hint from my side:
You also have to load the "ros_libs" folder to usrapp. It looks like in your image that this library is not on the disk.

[2021-06-10 11:51] AshwathamanGovind commented on #33
@JohannesFriedrich
I have loaded that ros_libs folder also to usrapp. I also checked that again using ftp. The folder is present inside usrapp but it is not listed in the VAL3 APPLICATIONS tab in the teach pendant. I have attached the snapshot of the file structure (accessed using FTP).
![staubli_ros_libs_pic](https://user-images.githubusercontent.com/78215878/121520140-33116e80-ca10-11eb-939d-dd1

[2021-06-10 12:42] JohannesFriedrich commented on #33
What´s the error logger (upper left symbol) exactly saying? Can you give us a screenshot or better: an exported error-logger? You can export it also via ftp by changing the directory to _log_ or export it via USB by exporting it in the error-logger panel, click right on the little arrow (sub-menu) and export it.

[2021-06-10 13:21] AshwathamanGovind commented on #33
Please have a look. I have attached the exported error log folder that i have exported from CS9.
[exportLogs.zip](https://github.com/ros-industrial/staubli_val3_driver/files/6631692/exportLogs.zip)

[2021-06-10 13:28] AshwathamanGovind commented on #33
While going through the error logs I encountered another error message saying "interfaceDefault.pjx: invalid library". FYI, i will also add the screenshot of that error message. I think due to some error in the libs I am able to start the ROS server in CS9.
![IMG_0311](https://user-images.githubusercontent.com/78215878/121533349-d2892e00-ca1d-11eb-9ad8-22d08c794ca9.jpg)

[2021-06-10 14:06] JohannesFriedrich commented on #33
Indeed, the _UserInterface_ library is the problem. Did you change something in this library? I think the best way is to remove the _UserInterface_ completely from the controller and copy it again from your PC.

[2021-06-10 16:23] enginkarlidag commented on #32
Ok, we would like to contribute our changes upstream. But I am new to GitHub, so I'll certainly need some assistance for the required steps. Should I open a pull request in our `faps-devel` branch?

BTW, our `adaptive_motion_control` repo is now public. In the `robot_middleware` package we implemented the additional motion control modes (jogging, pose tracking) based on velocity commands. The midd

[2021-06-11 05:53] AshwathamanGovind commented on #33
As expected, The issue was because of a corrupt file in UserInterface library. After i sent that via again via Transfer manager now I am able to start the ros_server application. But i am facing an issue while i try to connect to the robot from ROS. I getting this error:-

 **Exception while loading database plugin 'warehouse_ros_mongo::MongoDatabaseConnection': According to the loaded plugin desc

[2021-06-11 06:50] AshwathamanGovind commented on #33
Thanks for the support @gavanderhoorn and @JohannesFriedrich

[2021-06-11 06:50] #33 closed

[2021-06-12 22:06] JohannesFriedrich opened #35 "Some (small) improvements to VAL3"
Good evening all together,

my name is Johannes and I´m an software engineer at Staubli (Germany).
I have not much experience with ROS yet but I´m very familiar with VAL3. I had a look at the code and found some small improvements to make the VAL3 code more stable:

- [ ] check all return values of `libInterface:libLoad` in `start()`. In case of error: `popUpMsg("...")`
- [ ] instead of `taskKill(

[2021-06-14 09:06] gavanderhoorn commented on #35
Hi, thanks for reaching out.

Yes, we would be very much interested in the improvements you suggest.

Everything which will improve the user experience is always welcome.

There is some discussion around other possible improvements in #32, where @enginkarlidag explains what kind of changes they've made in their fork.

@marshallpowell97 is from Staubli USA, we should try to coordinate with him as w

[2021-06-16 12:52] IvoD1998 commented on #32
hi @enginkarlidag
I have been looking into your middleware software for the purpose discussed above. I want to use it to perform real time servoing of a staubli TX2-90 arm. However, as far as I can tell, the driver alterations you made for the staubli val3 driver only work when using a CS8 controller, not the CS9 model. Is this correct or am I missing something?
In case the current version only wo

[2021-06-17 12:03] enginkarlidag commented on #32
Hi @IvoD1998,

yes we developed the VAL3 driver on/for a CS8 controller. We provide the results of our work on a "as is" basis and I will most likely not be able to actively work on it anymore.  But I just opened a pull request and when it's merged into the main repo it should also support the CS9 controller. Of course, I will help where I can to resolve the merge conflicts.

If you don't want to

[2021-06-30 16:45] lepalom opened #37 "How to make it work?"
One year ago I install this driver, and it worked. Now I'm try to repeat the same, but with Noetic and I have some troubles. I'm using Debian Buster. Steps that i have done:

- clone the repo and create a catkin workspace and also clone industrial_core.
- build.
- install the val3 driver to the controller following the readme instructions.
- run in the controller the val3_server
- launch in one te

[2021-06-30 21:06] gavanderhoorn commented on #37
The correct `.launch` file would be [robot_interface_streaming.launch](https://github.com/ros-industrial/staubli_val3_driver/blob/7913f147663f6d54279cfb77cf90ecfb32454313/staubli_val3_driver/launch/robot_interface_streaming.launch).

`motion_streaming_interface.launch` only starts the trajectory relay.

[2021-06-30 21:10] gavanderhoorn commented on #37
I'm closing this as I assume we've resolved the problem.

Feel free to keep commenting on the issue.

[2021-06-30 21:10] #37 closed

[2021-06-30 21:13] gavanderhoorn commented on #35
@JohannesFriedrich: friendly ping?

[2021-07-01 13:00] lepalom commented on #37
Thanks @gavanderhoorn . It was my mistake. Sorry.

[2021-07-01 13:01] gavanderhoorn commented on #37
No problem.

[2021-07-12 07:14] gavanderhoorn commented on #35
@JohannesFriedrich?

[2021-07-12 18:47] JohannesFriedrich commented on #35
Thanks for the reminder. I found some time today to program the changes, see #39
I´ve tested it on CS8C and CS9 in SRS on the emulator and works well.
Feedback very welcome!

[2021-07-21 11:22] lepalom opened #40 "Running the driver without teach pendant"
We are trying to run the val3_driver without the MCP. We have *only* one to control two robots. We have detected that, we can run it remotely without any problem, but with the robot with teach pendant attached.

Looking on the logs, we have found a  "Internal error MCP-NoAnswer: char 1" and checking the val3 code, in the start:

`taskCreate sScreenTaskName, 10, screenUpdate()
`

so, it's the task

[2021-07-22 08:57] JohannesFriedrich commented on #40
Hello @lepalom,

I think it´s clear that you have to use a dummy-plug if you remove the MCP. Do you use it and mounted it correct?
The task should not make any problems either with or without MCP.
Are there any runtime errors in the task? You can find these error in the logger or with the online-debugger of SRS.

[2021-07-22 09:45] lepalom commented on #40
@JohannesFriedrich , you are right. I lost one morning checking all and not found any solution. This morning, I disassembled the dummy-plug and found that it was wrong. So, after mount again, we could make the test, and it's working.

Thanks for the answer anyway.

[2021-07-22 09:45] #40 closed

[2021-07-28 10:18] simonschmeisser commented on #35
Could you please explain what a overrun is and what should be done if it happens?

Great to see your improvements!

[2021-07-29 12:26] JohannesFriedrich commented on #35
@simonschmeisser

From the VAL3 manual:

If you have a synchronous task which receives/sends data in the given cycle time and is not able to do so, it´s critical to know if the task could receive/send the data, e.g. if you want to control an external axis.

[2021-08-10 12:39] IvoD1998 opened #41 "Building-issue with simple_message trying to integrate IO control"
Hi

We are trying to integrate IO control for the CS9 controller in the driver using the FAU-FAPS driver as inspiration (https://github.com/FAU-FAPS/staubli_val3_driver/tree/faps-devel). When we try to build our workspace, we run into the following issue:

![Simple_message_issue](https://user-images.githubusercontent.com/86001872/128867412-65a09087-dbce-4d97-b006-35c896fc8381.png)

On its own, the

[2021-08-10 12:48] gavanderhoorn commented on #41
First: please do not post screenshots of terminals. It's all text, so just copy-paste the text into a [markdown code block](https://docs.github.com/en/github/writing-on-github/working-with-advanced-formatting/creating-and-highlighting-code-blocks).

As to your problem, see https://github.com/ros-industrial/abb_driver/pull/12 for a fix in another `simple_message`/`industrial_robot_client` based dri

[2021-08-10 12:49] #41 closed

[2021-08-21 07:31] benthebear93 opened #42 "val3 controller only get limited trajectory into buffer. (unable to fully excute the trjaectory)"
Hello
(env : 18.04, melodic, Tx90)

i been using this pkg to send trajectory to TX90.
Every thing seems fine till i tried to send long trajectory.
robot_interface_streaming log shows that all the points are sent to controller, but my pendant only got few of the points

here is roslaunch --screen log.

<details><summary>Click to expand</summary>

[code]

</details>

122 points are sent to controlle

[2021-08-21 07:42] gavanderhoorn commented on #42
It could be it's a bug in the VAL 3 code, we don't know right now.

As in https://github.com/ros-industrial/staubli_val3_driver/issues/25#issuecomment-737170702, please provide:

[2021-08-21 08:07] benthebear93 commented on #42
I will try to provide all information asap

**1. Here is full copy-pase of output console of roslaunch**
[code]
**2. Here is the some code that i used to generation trajectory (moveit client with python)**
[code]

**3. Here is JointTrajectory echo. (not sure this is what you want it)**

[code]

I will try to fill more information about network traffic, since i never used Wireshark, with roslaunch

[2021-08-22 05:16] benthebear93 commented on #42
**1. Here is full copy-pase of output console of roslaunch**
[code]
**2. Here is the some code that i used to generation trajectory (moveit client with python)**
[code]
**3. Here is JointTrajectory echo. (not sure this is what you want it)**
[code]
**4. Wireshark log**
[wireshark_log.zip](https://github.com/ros-industrial/staubli_val3_driver/files/7026623/wireshark_log.zip)

I got the Wireshark ne

[2021-08-22 06:48] gavanderhoorn commented on #42
According to the SimpleMessage traffic (in your wireshark capture), the robot never enabled the drives, nor was it taken out of `MANUAL` mode. That would make motion impossible.

Two things:

 1. if you run your robot in `MANUAL` mode, you cannot let go of the teach pendant. Please refer to the Staubli documentation on how to run programs in manual mode
 2. test out ros-industrial/industrial_core#

[2021-08-22 06:50] gavanderhoorn commented on #42
As I don't believe there is a problem right now with `staubli_val3_driver`, I'm closing this issue.

If it turns out there is a problem, we can re-open.

[2021-08-22 06:50] #42 closed

[2021-08-22 07:00] benthebear93 commented on #42
@gavanderhoorn
Sorry for bad issue. Yes it was `MANUAL` mode problem. changing mode solved problem
thx for the help!

[2021-08-22 07:04] gavanderhoorn commented on #42
No problem.

Note: running your program(s) in manual mode is not a problem necessarily.

The problem is not holding the teach pendant (depressing the deadman switch, etc).

That will make the robot controller disable the drives.

[2021-08-27 12:55] benthebear93 opened #43 "Transforms or joint_state only published at 50hz"
Hi

I was trying to use tf data but it seems only publised at 50hz and i don't see any parameter that i can modify for increase pub rate.
Is it limited by socket communication or something else?
is there any thing i can do to increase publish rate?

Thanks

[2021-08-27 13:56] #43 closed, assigned to nobody

[2021-08-28 08:50] benthebear93 commented on #27
So I encountered same problem today as i tried to change some code in ros_server.
And i took a time to test few things

- using USB to run ros_server NO WORKING
- git clone and download .zip both WORKS
   - using SRS to send the ros_sever&ros_lib to controller and run ros_server WORKING
   - using FTP to send the ros_sever&ros_lib to controller and run ros_server WORKING

i guess using USB dosent

[2021-10-01 19:41] JGittles opened #46 "Val3 Driver Version Requirements Qestion"
Hi All,

I am trying to do realtime control with the FAU fork of ros_Industrial. while running in SRS after acquiring the motion addon from staubli I could not run the sim and noticed that the ros_industrial fork uses val3 s7.9.1 and my controller is running either 7.6 and 7.11.2. do these versions need to be an exact match for successful execution?

[2021-10-01 19:43] JGittles commented on #46
additional note: I am unsure of the specificity of the motion addon for Val3 version compatibility but I have the one at least intended for s7.6.

[2021-10-05 07:38] gavanderhoorn commented on #46
I can't comment on the exact version requirement. The work was done in a fork, isolated.

The original author(s) would have to provide that information.

[2021-10-05 07:39] gavanderhoorn commented on #46
Perhaps @enginkarlidag can comment.

[2021-10-05 14:35] JGittles commented on #46
![image](https://user-images.githubusercontent.com/58196263/136044253-2280ce9c-9bbe-4e63-aad3-08fa066c6bb7.png)

here is also a relevant image of the error

[2021-10-05 21:45] enginkarlidag commented on #46
The VAL3 version could be anything from s7.7.2 or greater (for CS8 controllers). The minimum version is given as a requirement as described in the [README](https://github.com/ros-industrial/staubli_val3_driver/blob/master/staubli_val3_driver/README.md#requirements) of this repo.

And just to avoid misunderstandings: The following information mainly refers to our fork of the driver!

So our project

[2021-10-12 19:20] #46 closed, assigned to nobody

[2021-10-12 20:31] gavanderhoorn commented on #46
@JGittles: could you confirm that you've been able to resolve the problems you were having with the information @enginkarlidag has provided?

[2021-10-13 16:48] JGittles commented on #46
@gavanderhoorn yes Engin has fixed my issue and I was successfully able to run this in srs. issue has been closed

[2021-10-13 17:42] JGittles opened #47 "issues running ros-industrial on Staubli CS8 controller"
Hi all,

As a follow-up from my previous issue (https://github.com/ros-industrial/staubli_val3_driver/issues/46). My version issue has been sorted on srs by updating to val3 version s7.11.2 and getting the corresponding motion add-on. After verifying functionality on srs, I updated my cs8 controller to val3 s7.11.2 and installed the motion add-on.

When I attempt to run the ros-server through my c

[2021-10-13 19:00] enginkarlidag commented on #47
I'm sorry but I don't know about that error. Unfortunately, I also don't have access to a real robot to test it.

But if you could provide some more information, maybe I can help to find the problem. Is there any additional information in the "Events Logger"?

It seems that you are using a USB stick to load the program. Is the "ros_libs" folder also on the stick (can't see on the image)? And I ass

[2021-10-13 19:42] JGittles commented on #47
ros_libs is also in the USB stick and I have deleted all of the other version in internal memory. When I pull up the events logger after a run attempt a receive the following error` 20:09 (File ros server.pjx-Line 1) Disk://ros_libs/_MsgRecvState/MsgRecvState.pjx:invalid type`

[2021-10-14 18:08] JGittles commented on #47
update: it seems that the controller didn't like running off of a usb drive. transferring the folders to the internal disk allowed for a successful run on the arm. issue is closed.

[2021-10-14 18:08] #47 closed, assigned to nobody

[2021-10-17 19:54] enginkarlidag commented on #47
I've got just an idea of how to avoid future errors when trying to load the driver from an USB drive.

I think the problem is that the VAL3 libraries are referenced from the ros_server.pjx file with a path like the following:

`Disk://ros_libs/.. `

Here, `Disk://` is referring to the standard path of user applications on the *internal memory* afaik (should be `/usr/usrapp`).

These kind of errors

[2021-12-09 13:16] simonschmeisser opened #48 "Scara support"
Has anyone experimented with using/extending this driver for 4-axis scara robots? We're looking at the TS2-100 to be specific but that shouldn't matter in general

[2021-12-09 13:23] gavanderhoorn commented on #48
See https://github.com/ros-industrial/staubli_experimental/issues/36.

[2021-12-09 13:34] simonschmeisser commented on #48
Thanks for the link! Good to know that my optimistic guess of this being achievable was not too optimistic. If you still have the code around somewhere that would be great but the overview in that comment is also already a good start. Let's see if the project materializes first.

[2021-12-09 13:41] gavanderhoorn commented on #48
I'll see if I can find it.

It should be somewhere on a laptop I used, but *where* ..

[2021-12-09 13:42] gavanderhoorn commented on #48
I do remember the scara having more trouble with the acceleration issues we still have with `staubli_val3_driver` though.

[2021-12-09 13:59] gavanderhoorn commented on #48
I believe https://github.com/ros-industrial/staubli_val3_driver/compare/master...gavanderhoorn:wip_scara_support should do it. There were more changes, but I don't believe they were necessary to get things to work motion-wise.

No guarantees of course.

And heed the 'warning':

[2021-12-09 14:06] simonschmeisser commented on #48
Thanks!

[2022-02-09 19:16] gavanderhoorn commented on #48
Have you been able to verify this works @simonschmeisser ?

[2022-02-09 20:26] simonschmeisser commented on #48
No, not yet unfortunately. The project is still in the planning phase currently and I have not yet seen any hardware unfortunately.

[2022-04-06 06:38] Oguked commented on #2
We have the same issue with our TX2-60L... still no solution?

[2022-04-28 07:33] gavanderhoorn commented on #2
According to the analysis performed in the earlier comments, the problem is not caused by anything here in `staubli_val3_driver`, but in the trajectory relay in `industrial_robot_client`.

As no one has spend time fixing the way in which the trajectory relay converts `JointTrajectory` timing-information into the Simple Message representation, there has been no change to this behaviour.

Another fa

[2022-05-02 12:43] gavanderhoorn commented on #48
Friendly ping

[2022-05-02 12:46] #48 closed, assigned to nobody

[2022-06-10 08:09] mzacri opened #50 "VAL3 version"
Hi everyone,

I have a Staubli rx130b robot with a CS8 contrôller. The installed VAL3 version is s5.0.1 and the robot CPU is from 2003 era. Does anyone know if the update to s7.x.x is possible or not? If not, is there another way to stream trajectories to CS8 controller (I have read about Real-time Robot Controller Abstraction Layer in the SENSOR-GUIDED ROBOTIC LASER WELDING thesis but I cannot fi

[2022-06-15 07:34] #50 closed, assigned to nobody